<% if user_signed_in? %>
<h1>Deine Dörfer</h1>
<table>
<% @villages.each do |village| %>
  <tr>
    <td><%= link_to village.name, village %></td>
  </tr>
<% end %>
</table>
<% else %>
Du bist nicht eingeloggt
<% end %>